apiVersion: apps/v1
kind: Deployment
metadata:
  name: tictac-app
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tictac
  template:
    metadata:
      labels:
        app: tictac
    spec:
      imagePullSecrets:
        - name: ecr-secret
      containers:
      - name: tictac
        image: 116981802760.dkr.ecr.ap-south-1.amazonaws.com/tictac:1188db711280949125a3149e529c267a1a74d13a
        imagePullPolicy: Always
        ports:
        - containerPort: 80

        ###
